<!-- app/views/questions/edit.html.erb -->
<h1>Edit Question</h1>
<%= render 'form', question: @question %>
<%= link_to 'Back to Questions', category_product_survey_questions_path(@category, @product, @survey), class: 'btn btn-secondary text-white' %>
