<!-- app/views/categories/_products.html.erb -->
<%if current_user%>
<% if products.any? %>
  <ul class="list-group">
    <% products.each do |product| %>
      <li class="list-group-item">
        <h1><%= link_to product.name, category_product_path(@category, product), class: 'list-group-item' %> </h1>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="alert alert-info">No products available for this category.</div>
<% end %>
<%else%>
  <div class="alert alert-info">Please sign in to see all the products</div>
<%end%>
