<!-- app/views/transactions/new.html.erb -->
<h1>New Transaction</h1>
<%= render 'form', transaction: @transaction %>
<%= link_to 'Back to Transactions', transactions_path, class: 'btn btn-secondary' %>
